<center>
</main>    
    <link rel="stylesheet" href="/styles/styles_card.css">
<div class="container2">
    <div class="row justify-content-center">
      <div class="col-md-2">
          <div class="card shadow" style="width: 18rem;">
            <div class="inner">
              <img src="/images/macario.jpg" class="card-img-top" alt="Macario">
            </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Macario</h5>
                <p class="card-text">Este Libro trata sobre Macario, un pobre leñador que vivía con su esposa y once hijos. Al ver que no podía aguantar mas esta situación de pobreza...</p>
                <a href="/macario" class="btn btn-primary">Ver Libro</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="card shadow" style="width: 18rem;">
          <div class="inner">
            <img src="/images/diario_ana_frank.jpg" class="card-img-top" alt="Diario de Ana Frank" width="200">
          </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Diario de Ana Frank</h5>
                <p class="card-text">El libro relata sobre una niña llamada Ana Frank, quien recibio un diario al que llamo Kitty, en el cual escribe todo lo que le pasa a partir de ese momento...</p>
                <a href="/diario_ana_frank" class="btn btn-primary">Ver Libro</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="card shadow" style="width: 18rem;">
          <div class="inner">
            <img src="/images/cien_soledad.jpg" class="card-img-top" alt="Cien años de soledad" width="200">
          </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Cien años de soledad</h5>
                <p class="card-text">Muchos años después, frente al pelotón de fusilamiento, el coronel Aureliano Buendía había de recordar aquella tarde remota en que su padre lo llevó a conocer el hielo...</p>
                <a href="/cien_soledad" class="btn btn-primary">Ver Libro</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="card shadow" style="width: 18rem;">
          <div class="inner">
            <img src="/images/principito.jpg" class="card-img-top" alt="El Principito" width="200">
          </div>
              <div class="card-body text-justify">
                <h5 class="card-title">El Principito</h5>
                <p class="card-text">La historia sobre el narrador, quien de niño queria ser un dibujante (artista), dibujando una boa comiendose un elefante, pero los adultos lo confunden con un sombrero...</p>
                <a href="/principito" class="btn btn-primary">Ver Libro</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="card shadow" style="width: 18rem;">
          <div class="inner">
            <img src="/images/historia_dos_ciudades.jpg" class="card-img-top" alt="Historia de dos ciudades" width="200">
          </div>
              <div class="card-body text-justify">
                <h5 class="card-title">Historia de dos ciudades</h5>
                <p class="card-text">"Historia de dos ciudades" es una de las novelas más conocidas de Dickens. La historia transcurre entre dos ciudades, Londres y París, durante la época de la Revolución Francesa...</p>
                <a href="/historia_dos_ciudades" class="btn btn-primary">Ver Libro</a>
              </div>
            </div>
      </div>
    </div>
</div>
</center>