{{> header}}
{{> navbar}}
<center><h1>Este es una página sobre una base de datos conectado a MongoDB. Se trata de libros.</h1></center>
<center><h2>Espero que disfrutes esta página</h2></center>
{{> footer}}