{{> header}}
{{> navbar}}
<link rel="stylesheet" href="/styles/styles_libros.css">
<center><h1>Cien Años de Soledad</h1></center>
<center><img src="/images/cien_soledad.jpg" alt="Cien Años de soledad" width="200"></center>
<p class="bottom">Muchos años después, frente al pelotón de fusilamiento, el coronel Aureliano Buendía había de recordar aquella tarde remota en que su padre lo llevó a conocer el hielo. Macondo era entonces una aldea de veinte casas de barro y cañabrava construidas a la orilla de un río de aguas diáfanas que se precipitaban por un lecho de piedras pulidas, blancas y enormes como huevos prehistóricos. El mundo era tan reciente, que muchas cosas carecían de nombre, y para mencionarlas había que señalarlas con el dedo. Cien años de soledad es un clásico del realismo mágico. Me parece una excelente obra narrada de una forma sencilla, con una trama bastante interesante que atrapa desde el primer párrafo.
    Los Buendía fundan un pueblo llamado Macondo, el cual a través de los años va evolucionando junto con la historia de la familia con sus tragedias, fantasías, descubrimientos y rebeldías. En este pueblo ocurren acontecimientos increíbles, en ocaciones llenos de magia, mitos, supersticiones y prejuicios. La lectura se hace grata, entretenida y ágil. Al terminar de leer el libro sentí una gran admiración por Gabriel García Marquez, porque una novela tan bien estructurada y maravillosamente desarrollada solo puede ser obra de un gran escritor. <br>
<a href="/libros" class="color2">Libros</a></p>
{{> footer}}      