{{> header}}
{{> navbar}}
<link rel="stylesheet" href="/styles/styles_libros.css">
<center><h1>Historia de dos ciudades</h1></center>
<center><img src="/images/historia_dos_ciudades.jpg" alt="Historia de dos ciudades" width="200"></center>
<p class="bottom">"Historia de dos ciudades" es una de las novelas más conocidas de Dickens. La historia transcurre entre dos ciudades, Londres y París, durante la época de la Revolución Francesa. La indiferencia de Dickens por la política y su desprecio por los políticos alejan la novela de cualquier debate político o filosófico sobre la revolución. Sin embargo, al suprimir dichos debates en torno a los acontecimientos revolucionarios, Dickens otorga a las masas populares francesas un protagonismo, autonomía y actividad histórica que no tuvieron, presentando además la revolución como justo castigo a la aristocracia por los siglos de explotación y maltrato del pueblo. 
Aquí empieza todo: La Revolución Francesa. Aunque comienza un poco confuso, después las cosas se te van aclarando, vemos aquí a varios personajes, pero el que “nos importa” es Sidney Carton, quien tiene un papel fundamental en el final de libro y quien luego de haber cometido tantos errores en su vida, intenta remediarlos todos ayudando al esposo de la mujer que ama. Vemos diferentes historias a lo largo del libro, y aunque nos confundamos un poco, todas están de algún modo relacionadas y de todas sacamos algo que complementa la historia. Aunque la narración es un poco tediosa, después te acostumbras y agarras el rito (la cosa es volver a retomarlo), la trama es buena (aunque le tengo algunos peros) y el titulo de la obra tiene mucho que ver todo. <br>
<a href="/libros" class="color2">Libros</a></p>
{{> footer}}  